@font-face {
    font-family: PTSansRegular;
    font-style: normal;
    src: url("https://fontlibrary.org/en/font/pt-sans");
}

@font-face {
    font-family: BreeSerif;
    font-style: normal;
    src: url("https://www.fontsquirrel.com/fonts/bree-serif");
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
    display: block;
}

.content_wrapper {
    flex: 1;
}

h1 {
    font-family: Bree Serif, Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
}

h2 {
    font-family: Bree Serif, Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    text-transform: uppercase;
}

h4 {
    font-family: PTSansRegular, Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}

p {
    font-family: PTSansRegular, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.button_solid {
    padding: 2px 35px;
    font-family: PTSansBold, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #95ce67;
    border: 2px solid #95ce67;
    color: #fff;
}

.button_solid a {
    text-decoration: none;
    color: inherit;
}

.button_solid:hover {
    background-color: #aee5d1;
    border: 2px solid #aee5d1;
    color: #2c3d63;
}

.button_outline {
    padding: 2px 35px;
    font-family: PTSansBold, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 20px;
    background-color: transparent;
    border: 2px solid #aee5d1;
    color: #aee5d1;
}

.button_outline a {
    text-decoration: none;
    color: inherit;
}

.button_outline:hover {
    background-color: #aee5d1;
    border: 2px solid #aee5d1;
    color: #2c3d63;
}

/* --------------------- HEADER --------------------------------------------- */
.header_section {
    width: 100%;
    float: right;
    height: 80px;
    background-color: #2c3d63;
    background-size: 100%;
    background-repeat: no-repeat;
    border-bottom: 5px solid #aee5d1;

}

.header_bg {
    background: #fff;
}

.bg-light {
    background-color: #fff !important;
}

.logo {
    float: left;
    margin-left: 10px;
    margin-right: 50px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 30px;
    padding-left: 30px;
    font-family: PTSansBold, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #2c3d63;
}

.dropdown-item {
    font-family: PTSansBold, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #2c3d63;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #fff;
    color: #aee5d1;
}

.dropdown-menu .dropdown-item.active {
    background-color: #fff;
    color: #95ce67;
}

.dropdown-menu .dropdown-item.active:focus {
    background-color: #fff;
    color: #95ce67;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #aee5d1;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #95ce67;
}

.navbar {
    padding: .5rem 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* --------------------- END HEADER --------------------------------------------- */
/* --------------------- MAIN --------------------------------------------------- */


/* --- contacts --- */
.contacts_section {
    width: 100%;
    float: left;
    padding: 50px 100px 120px 100px;
}

.contacts_title {
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
}

.email_section {
    height: 500px;
    background-color: #2c3d63;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 30px 10px 10px 10px;
    border-radius: 30px;
}

.email_form {
    background-color: rgba(255, 255, 255, 0.15);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
}

.email_input {
    width: 100%;
    height: 40px;
    border: 1px solid #8e8e8e;
    outline: none;
    padding-left: 15px;
    margin: 10px 0;
    border-radius: 5px;
}

.message_box {
    width: 100%;
    height: 110px;
    padding: 15px;
    border: 1px solid #8e8e8e;
    outline: none;
    margin-top: 20px;
    border-radius: 5px;
}

.contacts_section .button_container {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.map {
    width: 100%;
    float: left;
}

/* --- end contacts --- */



/* --- login --- */

.login_section {
    padding: 150px 50px 100px 50px;
    background-size: cover;
    color: #fff;
}

.login_section .row {
    background-color: #2c3d63;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 100px;
    border-radius: 30px;
}

.register-box {
    padding-right: 80px;
}

.register-box h2 {
    margin-bottom: 50px;
}

.login_section .login_form {
    margin: 10px 00px;
    padding: 30px 20px;
    background-color: rgba(255, 255, 255, 0.15);
    text-align: center;
    border-radius: 20px;
}

.login_section .login_form h1 {
    margin-bottom: 15px;
}

.login_section .login_form form input {
    height: 40px;
    width: 100%;
    padding-left: 15px;
    border: 1px solid #8e8e8e;
    outline: none;
    border-radius: 5px;
    margin: 10px 0;
}

/* --- end login --- */
/* --- register --- */

.register_section {
    padding: 140px 50px 70px;
    background-size: cover;
    color: #fff;
}

.register_section .row {
    background-color: #2c3d63;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 100px;
    border-radius: 30px;
}

.login-box {
    padding-right: 120px;
}

.login-box h2 {
    margin-bottom: 100px;
}

.login-box p {
    margin-bottom: 50px;
}

.register_section .register_form {
    margin: 10px 00px;
    padding: 30px 20px;
    background-color: rgba(255, 255, 255, 0.15);
    text-align: center;
    border-radius: 20px;
}

.register_section .register_form h1 {
    margin-bottom: 15px;
}

.register_section .register_form form input {
    height: 40px;
    width: 100%;
    padding-left: 15px;
    border: 1px solid #8e8e8e;
    outline: none;
    border-radius: 5px;
    margin: 10px 0;
}

.register_section .register_form form .input_container {
    display: flex;
    gap: 20px;
    align-items: center;
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    margin: 10px 0;
}

.register_section .register_form form .button_container {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* --- end register --- */

/* --------------------- END MAIN ----------------------------------------------- */
/* --------------------- FOOTER ------------------------------------------------- */
.footer_section {
    width: 100%;
    float: left;
    background-color: #1a243a;
    margin-top: auto;
    padding-bottom: 20px;
    padding-top: 10px;
}

.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer_text {
    font-family: Bree Serif, Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    font-size: 15px;
}

.mini_logo {
    float: left;
    margin-right: 30px;
}