@font-face {
    font-family: PTSansRegular;
    font-style: normal;
    src: url("https://fontlibrary.org/en/font/pt-sans");
}

@font-face {
    font-family: BreeSerif;
    font-style: normal;
    src: url("https://www.fontsquirrel.com/fonts/bree-serif");
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff;
}

.content-wrapper {
    flex: 1;
}

h1 {
    font-family: Bree Serif, Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
}

h2 {
    font-family: Bree Serif, Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    text-transform: uppercase;
}

h4 {
    font-family: PTSansRegular, Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}

p {
    font-family: PTSansRegular, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.btn-solid {
    padding: 2px 35px;
    font-family: PTSansBold, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #95ce67;
    border: 2px solid #95ce67;
    color: #fff;
}

.btn-solid a {
    text-decoration: none;
    color: inherit;
}

.btn-solid:hover {
    background-color: #aee5d1;
    border: 2px solid #aee5d1;
    color: #2c3d63;
}

.btn-outline {
    padding: 2px 35px;
    font-family: PTSansBold, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 20px;
    background-color: transparent;
    border: 2px solid #aee5d1;
    color: #aee5d1;
}

.btn-outline a {
    text-decoration: none;
    color: inherit;
}

.btn-outline:hover {
    background-color: #aee5d1;
    border: 2px solid #aee5d1;
    color: #2c3d63;
}

.btn-admin {
    padding: 2px 35px;
    font-family: PTSansBold, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #2c3d63;
    border: 2px solid #2c3d63;
    color: #fff;
}

.btn-admin a {
    text-decoration: none;
    color: inherit;
}

.btn-admin:hover {
    background-color: #95ce67;
    border: 2px solid #95ce67;
    color: #fff;
}

.btn-product {
    font-family: PTSansBold, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
}

.btn-product a {
    text-decoration: none;
    color: inherit;
}

.btn-product:hover {
    background-color: transparent;
    color: #aee5d1;
}

.admin-section {
    display: flex;
    align-items: center;
    background-color: #aee5d1;
    width: 100%;
    height: 50px;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-bottom: 25px;
}

form input {
    height: 40px;
    width: 100%;
    padding-left: 15px;
    border: 1px solid #e6e6e6;
    border: 1px solid #e6e6e6;
    outline: none;
    border-radius: 5px;
}

.input-group-text {
    height: 40px;
    width: 150px;
    padding-left: 15px;
    background-color: #e6e6e6;
    border: 1px solid #e6e6e6;
    color: #2c3d63;
    outline: none;
    justify-content: end;
    border-radius: 5px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* --------------------- HEADER --------------------------------------------- */
.header-section {
    width: 100%;
    float: right;
    height: 80px;
    background-color: #2c3d63;
    background-size: 100%;
    background-repeat: no-repeat;
    border-bottom: 5px solid #aee5d1;

}

.header-bg {
    background: #fff;
}

.bg-light {
    background-color: #fff;
}

.logo {
    float: left;
    margin-left: 10px;
    margin-right: 50px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 30px;
    padding-left: 30px;
    font-family: PTSansBold, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #2c3d63;
}

.dropdown-item {
    font-family: PTSansBold, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #2c3d63;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #fff;
    color: #aee5d1;
}

.dropdown-item.active,
.dropdown-item.active:focus {
    color: #95ce67;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #aee5d1;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #95ce67;
}

.navbar {
    padding: .5rem 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

/* --- admin bar --- */

.sidebar-toggle-button {
    display: flex;
    justify-content: flex-start;
}

.btn-menu {
    padding: 0 10px;
    scale: 1.8;
    background: none;
    border: none;
    color: #2c3d63;
    text-decoration: none;
}

.btn-menu a {
    color: inherit;
}

.btn-menu:hover {
    background: none;
    border: none;
    color: #fff;
}

/* --- end admin bar --- */
/* --------------------- END HEADER --------------------------------------------- */
/* --------------------- MAIN --------------------------------------------------- */
/* --- sidebar --- */

.btn-close:hover {
    background-color: #aee5d1;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -270px;
    width: 270px;
    height: 100%;
    background-color: #2c3d63;
    transition: left 0.3s ease;
    z-index: 999;
    font-family: PTSansBold, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.sidebar-open {
    left: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 5px 20px;
}

.border-sidebar {
    background-color: #95ce67;
}

.btn-toggle {
    padding: .25rem .5rem;
    background-color: transparent;
    font-family: PTSansBold, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #1a243a;
}

.btn-toggle:hover,
.btn-toggle:focus {
    color: #2c3d63;
    background-color: #aee5d1;
}

.btn-toggle.active,
.btn-toggle.active:hover,
.btn-toggle.active:focus {
    padding: .25rem .5rem;
    background-color: transparent;
    font-family: PTSansBold, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #95ce67;
    cursor: text;
    touch-action: none;
}

.btn-toggle[aria-expanded="true"] {
    color: #1a243a;
}

.btn-toggle-nav a {
    padding: .1875rem .5rem;
    margin-left: 1.25rem;
}


.btn-toggle-nav {
    color: #1a243a;
}

.nav-link-admin {
    font-family: PTSansBold, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #1a243a;
    text-decoration: none;
}

.nav-link-admin:hover,
.nav-link-admin:focus {
    font-family: PTSansBold, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    background-color: #aee5d1;
    color: #2c3d63;
    border-radius: 5px;
}

.nav-link-admin.active,
.nav-link-admin.active:hover,
.nav-link-admin.active:focus {
    background-color: transparent;
    color: #95ce67;
    cursor: text;
    touch-action: none;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: #aee5d1;
}

.bi.pe-none {
    fill: #2c3d63;
}

.bi.pe-none.active {
    fill: #95ce67;
}

/* --- end sidebar --- */
/* --- contacts --- */

.contacts-section {
    width: 100%;
    float: left;
    padding: 50px 100px 80px;
}

.contacts-title {
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
}

.email-section {
    height: 500px;
    background-color: #2c3d63;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 30px 10px 10px 10px;
    border-radius: 30px;
}

.email-form {
    background-color: rgba(255, 255, 255, 0.15);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
}

.email-input {
    width: 100%;
    height: 40px;
    border: 1px solid #8e8e8e;
    outline: none;
    padding-left: 15px;
    margin: 10px 0;
    border-radius: 5px;
}

.message-box {
    width: 100%;
    height: 110px;
    padding: 15px;
    border: 1px solid #8e8e8e;
    outline: none;
    margin-top: 20px;
    border-radius: 5px;
}

.contacts-section .btn-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.map {
    width: 100%;
    float: left;
}

/* --- end contacts --- */
/* --- catalog --- */

.admin-box {
    display: flex;
}

.btn-container-catalog {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-bottom: 10px;
}

.btn-container-catalog .btn-admin {
    width: 100%;
    padding: 0 35px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    border-radius: 10px;
    margin-top: 15px;
    background-color: transparent;
    color: #aee5d1;
}

.btn-container-catalog .btn-admin a {
    text-decoration: none;
    color: inherit;
}

.btn-container-catalog .btn-admin:hover {
    background-color: #aee5d1;
    border: 2px solid #aee5d1;
    color: #2c3d63;
}

.catalog-section {
    width: 100%;
    float: left;
    padding: 50px 80px;
}

.catalog-title {
    width: 100%;
    text-align: center;
}

.cards-section {
    width: 100%;
    float: left;
    margin: 20px 0;
    position: relative;
}

.card-product {
    background-color: #2c3d63;
    border-radius: 15px;
}

.image-card {
    display: block;
    width: 100%;
    padding: 2px 2px 0;
    height: auto;
    border-radius: 12px 12px 0 0;
}

.image-card a {
    background-color: #fff;
}

.image-card:hover {
    opacity: 90%;
    background-color: #2c3d63;
    border-radius: 15px 15px 0 0;
}

.card-body {
    width: 100%;
    height: 170px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.card-body .product-name {
    background-color: rgba(255, 255, 255, 0.15);
    margin: 0 4px;
    border-radius: 0 0 15px 15px;
}

.card-body p {
    padding: 10px 35px 35px;
}

/* --- end catalog --- */
/* --- product --- */

.product-section {
    width: 100%;
    float: left;
    padding: 80px 80px;
}

.outer-box {
    background-color: #f8f8f8;
    padding: 10px;
    height: 600px;
    border-radius: 30px;
    position: relative;
}

.image-product {
    display: block;
    width: auto;
    height: 600px;
    border-radius: 30px;
}

.product-name {
    margin: 40px 20px 10px;
    color: #2c3d63;
}

.text-price {
    margin: 0 20px;
    color: #95ce67;
}

.text-product {
    background-color: #fff;
    margin: 0;
    height: 400px;
    padding: 20px;
    border-radius: 20px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

/* --- end product --- */
/* --- product_edit + product_new --- */

.product-section {
    width: 100%;
    float: left;
    padding: 50px 80px 80px;
}

.form-box {
    margin-top: 30px;
    background-color: #2c3d63;
    padding: 30px 10px 10px;
    height: 580px;
    border-radius: 30px;
    position: relative;
    color: #fff;
    font-family: PTSansRegular, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.form-box h2 {
    margin-bottom: 20px;
    color: #aee5d1;
}

.input-numbers {
    display: flex;
    gap: 20px;
}

.description-box {
    background-color: #fff;
    margin: 0;
    height: 350px;
    padding: 20px;
    border-radius: 5px 5px 20px 20px;
    border: 1px solid #8e8e8e;
    outline: none;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.custom-file-input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.custom-file-label {
    padding: 2px 35px;
    font-family: PTSansBold, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 10px;
    background-color: #aee5d1;
    border: 2px solid #aee5d1;
    color: #2c3d63;
    cursor: pointer;
}

.custom-file-label:hover {
    background-color: #2c3d63;
    border: 2px solid #2c3d63;
    color: #fff;
}

.image-preview {
    display: block;
    margin-top: 10px;
    width: auto;
    max-height: 600px;
    border-radius: 30px;
    overflow: hidden;
}

/* --- end product_edit + product_new --- */
/* --- customer_edit --- */

.customer-edit-section {
    padding: 140px 50px 70px;
    background-size: cover;
    color: #fff;
}

.customer-edit-section .row {
    background-color: #2c3d63;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: last baseline;
    padding-left: 100px;
    border-radius: 30px;
}

.customer-edit-form {
    margin: 10px 00px;
    padding: 30px 20px;
    background-color: #f8f8f8;
    text-align: center;
    border-radius: 20px;
}

.btn-box h1 {
    margin-bottom: 170px;
    text-align: center;
}

.btn-box .btn-outline {
    width: 150px;
}

.btn-box .btn-solid {
    width: 320px;
}

/* --- end customer-edit --- */
/* --- login --- */

.login-section {
    padding: 150px 50px 100px 50px;
    background-size: cover;
    color: #fff;
}

.login-section .row {
    background-color: #2c3d63;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 100px;
    border-radius: 30px;
}

.register-box {
    padding-right: 80px;
}

.register-box h2 {
    margin-bottom: 50px;
}

.login-section .login-form {
    margin: 10px 00px;
    padding: 30px 20px;
    background-color: rgba(255, 255, 255, 0.15);
    text-align: center;
    border-radius: 20px;
}

.login-section .login-form h1 {
    margin-bottom: 15px;
}

/* --- end login --- */
/* --- register --- */

.register-section {
    padding: 140px 50px 70px;
    background-size: cover;
    color: #fff;
}

.register-section .row {
    background-color: #2c3d63;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 100px;
    border-radius: 30px;
}

.login-box {
    padding-right: 120px;
}

.login-box h2 {
    margin-bottom: 100px;
}

.login-box p {
    margin-bottom: 50px;
}

.register-section .register-form {
    margin: 10px 00px;
    padding: 30px 20px;
    background-color: rgba(255, 255, 255, 0.15);
    text-align: center;
    border-radius: 20px;
}

.register-section .register-form h1 {
    margin-bottom: 15px;
}

/* --- end register --- */
/* --------------------- END MAIN ----------------------------------------------- */
/* --------------------- FOOTER ------------------------------------------------- */

.footer-section {
    width: 100%;
    float: left;
    background-color: #1a243a;
    padding-bottom: 20px;
    padding-top: 10px;
}

.fixed {
    position: absolute bottom;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-text {
    font-family: Bree Serif, Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    font-size: 15px;
}

.mini-logo {
    float: left;
    margin-right: 30px;
}